@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Raleway:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Raleway", sans-serif;
}

.logo {
    height: 100%;
}

.header {
    background-color: black;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 80px;
    list-style: none;
}

.nav-link {
    color: whitesmoke;
}

.nav-link:hover {
    text-decoration: underline;
    color: blueviolet; 
}